#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

span.anticon.anticon-menu-fold.trigger,
span.anticon.anticon-menu-unfold.trigger {
  color: #fff;
  margin-left: 2rem;
  font-size: 1.5rem;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

section.ant-layout.ant-layout-has-sider {
  height: 100vh;
}

.ant-layout-sider-children .logo img {
  filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(88deg) brightness(105%)
    contrast(100%);
}
